<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <a routerLink="/">
        <h1>Il Teatro nella tua città</h1>
      </a>
    </div>

    <ul class="navbar-menu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/preferiti" routerLinkActive="active"> Preferiti </a>
      </li>
      <li>
        <a routerLink="/ricerca" routerLinkActive="active"> Ricerca </a>
      </li>
    </ul>
  </div>
</nav>
